mixin third-section()
	include ../items/item-col/item-col
	- var folder = ['reviews']

	+b.SECTION.section.third-section.dark-section
		+b.DIV.container-fluid
			+b.H2.section__headline: +b.A(href="#").section__link Обзоры
			+b.row
				+b.DIV.col-md-3
					+item-col(folder, '10', 'Новый смартфон с функцией настольного пылесоса сколыхнул сообщество гиков по всему миру', '21/06/2017', '', '26')
				
				+b.DIV.col-md-3
					+item-col(folder, '11', 'В частности, базовый вектор развития предполагает независимые способы реализации своевременного выполнения сверхзадачи.', '21/06/2017', '', '26')
				
				+b.DIV.col-md-3
					+item-col(folder, '12', 'Также как убежденность некоторых оппонентов позволяет оценить значение дальнейших направлений развития.', '21/06/2017', '', '26')
				
				+b.DIV.col-md-3
					+item-col(folder, '13', 'Социально-экономическое развитие предполагает независимые способы реализации форм воздействия.', '21/06/2017', '', '26')