.audio-controls {
	width: 85px;
	height: 85px;
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 80px;
  a {
    cursor: pointer;
    opacity: 0.2;
    transition: 0.2s ease-in;
    &:hover {
      opacity: 0.6;
    }
  }
}
.audioElement {
  display: none;
}
