.color- {
  &vk {
    color: #587fa4;
  }
  &fb {
    color: #3B5998;
  }
  
  &tg {
    color: #0088cc;
  }
  
  &insta {
    color: #e4405f;
  }
  
  &twitter {
    color: #33CCFF;
  }
  
  &mail {
    color: #168de2;
  }
  
  &github {
    color: #333;
  }
}
