mixin head(data)
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')

	meta(content=data.author name="author")
	meta(content=data.description name="description")
	
	// ============== АДАПТАЦИЯ К РАЗЛИЧНЫМ УСТРОЙСТВАМ ===
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(name="HandheldFriendly" content="true")
	meta(name="format-detection", content="telephone=no")
	meta(content="IE=edge" http-equiv="X-UA-Compatible")

	// ============== ТАБЛИЦЫ СТИЛЕЙ ======================
	link(rel='stylesheet', href='css/vendor.min.css')
	link(rel='stylesheet', href='css/common.min.css')
	link(href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet")
	
	//- // ============== FAVICON =============================
	//- link(rel="shortcut icon" href="images/icon/favicon.png" type="image/x-icon")
	
	//- // =========== МОДУЛИ ==============================
	//- // <link rel="stylesheet" type="text/css" href="vendor/bootstrap-3.3.7/bootstrap.min.css">
	//- // <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.min.css">
	//- link(rel='stylesheet', href='vendor/fontello/css/fontello.css')

	title= data.title
