.page-header {
	&.overlay {
		height: 80vh;
		min-height: 420px;
		color: #ffffff;
		position: relative;
		text-transform: uppercase;
		&::before {
			opacity: 1;
			background-color: transparent;
			background-image: linear-gradient(rgba(#000,.2), rgba(#000, .7));
		}
	}
	&__content {
		position: absolute;
		width: 100%;
		bottom: 10%;
	}
	&-meta {
		> * {
			display: inline-block;
		}
		&__link {
			color: inherit;
			background-color: $accent;
			text-decoration: none;
			font-weight: 800;
			margin-right: 10px;
			padding: 3px 7px;
			font-size: 14px;
			&:hover,
			&:focus {
				color: #ffffff;
				text-decoration: none;
			}
		}
		&__date {
			font-size: 15px;
		}
		&__headline {
			font-size: 32px;
			line-height: 1.2;
			margin: 15px 0;
			display: block;
		}
	}
	.social {
		.comments {
			color: #ffffff;
			text-transform: none;
			&-info {
				&__link {
					color: #ffffff;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}