mixin block-likely(urlImg, title)
	+b.DIV.likely.likely-custom(data-url="path" data-media= urlImg data-title= title)
		+e.DIV.vk.vkontakte(title="Поделиться Вконтакте") Вконтакте
		+e.DIV.fb.facebook(title="Поделиться Facebook") Facebook
		+e.DIV.tw.twitter(title="Поделиться Twitter") Twitter
