mixin copyright()
	include ../logo/logo

	+b.SECTION.copyright
		+b.DIV.container.text-center
			+b.DIV.footer-copy 2018 &copy;
				+logo()
			+b.P.inscription Копирование контента и размещение на других сайтах запрещено
				
