.pattern {
	background-color: $dark;
	position: relative;
	display: block;
	&::before {
		content: "";
		transition: 
			opacity .25s ease,
			top .25s ease, 
			left .25s ease,
			bottom .25s ease,
			right .25s ease;
		z-index: 1;
		position: absolute;
		border: #fff solid 1px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0;
	}
	&:hover{
		&::before {
			opacity: 0.2;
			top: 10px;
			right: 10px;
			bottom: 10px;
			left: 10px;
		}
		.overlay {
			&::before {
				opacity: 0.75;
			}
		}
	}
}