.button {
	display: inline-block;
	border: none;
	color: #ffffff;
	text-decoration: none;
	background-color: $accent;
	padding: 12px 40px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 10em;
	text-align: center;
	position: relative;
	outline: none;
	cursor: pointer;
	transition: text-shadow .15s ease, box-shadow .15s ease;
	&:hover, &:focus {
		text-decoration: none;
		color: #ffffff;
	}
	&:hover {
		background-color: lighten($accent, 5%);
		box-shadow: 0px 2px 5px  lighten($accent, 5%);
		text-shadow: 0px 0px 5px #000;
	}
	&:active {
		background-color: darken($accent, 5%);
		box-shadow: 0px 2px 5px  darken($accent, 5%);
	}
	&__arrow {
		margin-left: 15px;
		font-size: 19px;
	}
}