.pagination {
	margin-top: 12px;
	&__active,
	&__link,
	&__left,
	&__right {
		display: inline-block;
		color: #7e7e7e;
		font-weight: 800;
		text-decoration: none;
		margin: 5px;
		width: 42px;
		height: 42px;
		line-height: 40px;
		transition: border-color .25s ease, color .25s ease;
	}

	&__link,
	&__right {
		&:hover,
		&:focus {
			text-decoration: none;
			border: 2px solid $accent;
		}
	}

	&__active,
	&__link {
		border: 2px solid #7E7E7E;
		border-radius: 10em;
	}
	&__active {
		border: 2px solid $accent;
		color: $accent;
	}

	&__left,
	&__right {
		margin: 0;
		font-size: 32px;
		line-height: 34px;
		&:hover {
			border: none;
		}
	}
}