.breadcrumbs {
	margin-bottom: 15px;
	margin-left: -10px;
	&__body,
	&__item {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	&__item {
		display: inline-block;
		font-size: 16px;
	}
	&__link {
		display: inline-block;
		padding: 0 10px;
		position: relative;
		&::after {
			content: "»";
			position: absolute;
			right: -6px;
			color: #cccccc;
		}
	}
	.active {
		padding-left: 10px;
		color: #cccccc;
	}
}