mixin hidden()
	+b.hidden
		//- //if lt IE 9
			script(src='libs/html5shiv/es5-shim.min.js')
			script(src='libs/html5shiv/html5shiv.min.js')
			script(src='libs/html5shiv/html5shiv-printshiv.min.js')
			script(src='libs/respond/respond.min.js')
		
		//- jQuery (necessary for Bootstrap's JavaScript plugins)
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		
		//- script(src="js/vendor.min.js")
		//- script(src="js/common.min.js")
