mixin cat-header()
	+b.DIV.cat-header
		+e.DIV.cat-pattern.pattern
			+e.DIV.cat.overlay(style="background-image: url(images/blog/electronics/_test.jpg)")
				+b.DIV.container-fluid
					+b.DIV.row
						+b.DIV.col-md-7
							+b.DIV.content-cat-block
								+e.H1.headline Электроника
								+e.P.paragraph Новости современной электроники - гаджеты, ультрабуки, новые смартфоны и смарт часы, VR и многое другое