extend template

block header
	+header
	
block top-menu
	//- +top-menu
	
block title
	//- +title

block gallery
	//- +gallery

block pagination
	//- +pagination

block banner
	//- +banner

block footer
	//- +footer

block copyright
	//- +copyright
