mixin cat-list()
	include ../items/item-cat-list/item-cat-list
	include ../aside-box/aside-box
	include ../latest-box/latest-box
	include ../pagination/pagination

	+b.SECTION.section.cat-list
		+b.DIV.container-fluid
			+b.DIV.row
				+b.DIV.col-md-8
					+b.DIV.cat-list-wrap
						+item-cat-list(
							'news', 
							'6', 
							'Золотистый iPhone предыдущего поколения положили на тыкву',
							'21/06/2017', 
							'В частности, убежденность некоторых оппонентов создает необходимость включения в производственный план целого ряда внеочередных мероприятий с учетом комплекса поставленных обществом задач.'
						)
						
						+item-cat-list(
							'news', 
							'7', 
							'Базовый вектор развития требует анализа поставленных обществом задач.',
							'21/06/2017', 
							'Мы вынуждены отталкиваться от того, что разбавленное изрядной долей эмпатии, рациональное мышление играет определяющее значение для вывода текущих активов.'
						)
						
						+item-cat-list(
							'news', 
							'8', 
							'Существующая теория играет определяющее значение для текущих активов.',
							'21/06/2017', 
							'Яркий пример современных тенденций - начало повседневной работы по формированию позиции является качественно новой ступенью новых принципов формирования ресурсов.'
						)
						
						+item-cat-list(
							'news', 
							'9', 
							'Элементы политического процесса обнародованы.',
							'21/06/2017', 
							'Внедрение современных методик способствует повышению качества прогресса профессионального сообщества. А еще элементы политического процесса лишь добавляют фракционных разногласий и обнародованы.'
						)
						
						+item-cat-list(
							'news', 
							'6', 
							'Золотистый iPhone предыдущего поколения положили на тыкву',
							'21/06/2017', 
							'В частности, убежденность некоторых оппонентов создает необходимость включения в производственный план целого ряда внеочередных мероприятий с учетом комплекса поставленных обществом задач.'
						)
						
						+item-cat-list(
							'news', 
							'7', 
							'Базовый вектор развития требует анализа поставленных обществом задач.',
							'21/06/2017', 
							'Мы вынуждены отталкиваться от того, что разбавленное изрядной долей эмпатии, рациональное мышление играет определяющее значение для вывода текущих активов.'
						)
						
						+item-cat-list(
							'news', 
							'8', 
							'Существующая теория играет определяющее значение для текущих активов.',
							'21/06/2017', 
							'Яркий пример современных тенденций - начало повседневной работы по формированию позиции является качественно новой ступенью новых принципов формирования ресурсов.'
						)
						
						+item-cat-list(
							'news', 
							'9', 
							'Элементы политического процесса обнародованы.',
							'21/06/2017', 
							'Внедрение современных методик способствует повышению качества прогресса профессионального сообщества. А еще элементы политического процесса лишь добавляют фракционных разногласий и обнародованы.'
						)
						+s-more('Следующая страница', true, 'right', 's-more-first d-md-none')

				+b.DIV.col-md-4
					+b.ASIDE.main-aside
						+aside-box('a-vertical')
						+latest-box()
						+aside-box('vk-witget')
						+aside-box('a-cube')